<h2>Show Details</h2>
<h4>Name: <%= @show.name %></h4>
<h4>Network: <%= @show.network %></h4>
<h4>Weekday: <%= @show.weekday %></h4>
<h4>Time (24 Hour Format): <%= @show.showtime %></h4>

<a href="/shows/<%= @show.id %>/edit" class="btn btn-info">Edit Show</a>
<br></br>
<form action="/shows/<%= @show.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete Show</button>
</form>
