<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h2>Edit Show:</h2>
<form action="/shows/<%= @show.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="name">Show Name</label>
    <input type="text" class="form-control" name="name" value="<%= @show.name %>">
  </div>
  <div class="form-group">
    <label for="network">Network</label>
    <input type="text" class="form-control" name="network" value="<%= @show.network %>">
  </div>
  <div class="form-group">
    <label for="weekday">Weekday</label>
    <select class="form-control" name="weekday">
      <option>Sunday</option>
      <option>Monday</option>
      <option>Tuesday</option>
      <option>Wednesday</option>
      <option>Thursday</option>
      <option>Friday</option>
      <option>Saturday</option>
    </select>
  </div>
  <div class="form-group">
    <label for="showtime">Time</label>
    <input type="time" class="form-control" name="showtime" value="<%= @show.showtime %>">
  </div>
  <button type="submit" class="btn btn-default">Edit Show</button>
</form>
